html,body,p,h1,h2,h3,h4,h5,h6{
    font-family: 'Rubik', sans-serif;
}

.scale{
    transition: all 0.3s ease-out;
}
.scale-1:hover{
    transform: scale(1.1)
}
.scale-2:hover{
    transform: scale(1.2)
}
.scale-3:hover{
    transform: scale(1.3)
}


